.ListContainer {
    margin-top: 25px;
    margin: auto;
    margin-left: 5%;
    display: inline-block;
    grid-template-columns: repeat(3, 0.3fr);
    grid-gap: 1px;
    grid-row: initial;
    width: 20%;
  
}