.ListContainer {
    margin-top: 25px;
    margin: auto;
    margin-left: 10%;
    display: inline-flex;
    grid-template-columns: repeat(3, 0.3fr);
    grid-gap: 1px;
    grid-row: initial;
    width: 35%;

  
}