.BarList {
    list-style: none;
    display: inline-flex;
    flex-flow: row;
    align-items: center;

}

.Container{
    margin: 0;
    position: absolute;
    bottom: 0%;
    padding: 0px;
    width: 80%;

   

}