.BarList {
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    
}

.Container{
    margin: 0;
    position: sticky;
    top: 79%;
    padding: 0px;
    width: 80%;

   

}