.BarList {
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: baseline;

}

.Container{
    margin: 0;
    position: absolute;
    bottom: 5%;
    left: 0;
    padding: 0;
    width: 80%;

   

}