.ItemsContainer {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 0.3fr);
    grid-gap: 1px;
    grid-row: initial;


}

.Spinner {
    margin: auto;
    width: 100%;
    position: absolute;
}

.NoItemsContainer{
    margin: auto;
    padding: 0px;
    width: 100%;
    position: absolute;
    color: darkgrey;
    font-size: 21px;
    text-align: center;
}


@media (max-width: 499px) {
    .ItemsContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}