.ItemsContainer {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 0.3fr);
    grid-gap: 2px;
    grid-row: initial;


}

.Spinner {
    margin: auto;
    width: 100%;
    position: absolute;
}


@media (max-width: 499px) {
    .ItemsContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}