.ItemsContainer {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 0.3fr);
    grid-gap: 5px;
    grid-row: initial;
}


@media (max-width: 499px) {
    .ItemsContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}