.CardContainer{
    margin: auto;
    margin-left: 15%;
    margin-top: 7%;
    width: 50%;
    position: relative;
    padding: 0%;
    text-align: center;
}

.ItemCardContainer {
    
    
  
}

@media (max-width: 599px) {
.CardContainer {
    width: 90%;
    margin: 0;
    margin-bottom: 15px;
    position: relative;
    margin-left: 30px;

}
}