.CardContainer{
    margin: auto;
    margin-left: 15%;
    margin-top: 7%;
    width: 50%;
    position: relative;
    padding: 0%;
}

.ItemCardContainer {
    position: relative;
    right: 25%;
  
}