.CardContainer {
    box-shadow: 5px 10px 18px #888888;
    width: 80%;
    height: 300px;
    margin: auto;
    padding: 5px;
    overflow: hidden
}

.CardImage {
    height: 80%;
}


@media (max-width: 799px) {
    .CardContainer {
        height: 150px;
    }
    .CardImage {
        height: 50%;
    }
    
}

@media (max-width: 499px) {
    .CardContainer {
        height: 120px;
    }
}