.CardContainer {
    border: 1px solid black;
    width: 90%;
    height: 300px;
    margin: auto;
    padding: 5px;
    overflow: hidden;
    margin-left: 5px;

   
}

.CardImage {
    height: 80%;
}


@media (max-width: 799px) {
    .CardContainer {
        height: 150px;
    }
    .CardImage {
        height: 50%;
    }
    
}

@media (max-width: 499px) {
    .CardContainer {
        height: 120px;
    }
}