.AddItemForm {
    margin: auto;
    font-family: monospace;
    overflow: hidden;
  }
  
  .FormTitle {
    margin: auto;
    margin-top: 7px;
    margin-bottom: 15px;
    font-size: 1.4rem;
  }
  
  .Label {
    margin-right: 5px;
  }
  
  .Input {
    margin-left: 8%;
    width: 80%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid gray;
    padding-left: 12px;
  }
  
  .Label {
    font-size: 1.2rem;
  }
  
  .errorMessage {
    color: red;
    font-size: 1rem;
    font-family: monospace;
    margin-left: 17%;
    margin-bottom: 15px;
    margin-top: 35px;
  }
  
  .successMessage {
    color: green;
    font-size: 1rem;
    font-family: monospace;
    margin-left: 19%;
    margin-bottom: 15px;
    margin-top: 35px;
  }
  
  @media (max-width: 499px) {
    .AddItemForm {
      margin-left: 2%;
      width: 99%;
    }
  
    .FormTitle {
      margin-left: 10%;
    }
  
    .Input {
      width: 85%;
      margin-left: 3%;
    }
  }
  