.CommentFormContainer {
  width: 100%;
  position: relative;
  right: 10%;
  text-align: right;
}

.CommentSubmit {
  position: relative;
  bottom: 20px;
  margin-left: 5px;
  height: 45px;
  width: 75px;
  border-radius: 25px;
  background-color: black;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  box-shadow: 1px 1px 1px 1px #bbb;

}

.CommentSubmit:hover {
 background-color: white;
 color: black;
}


.TextArea {
  width: 70%;
  height: 35px;
  border-radius: 15px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
    color: #333333;
  margin-left: 5%;
  box-shadow: 1px 1px 1px 1px #bbb;

}



@media (max-width: 810px) {
  .CommentFormContainer {
    width: 90%;
    position: relative;
    right: 15%;
    text-align: right;
  }

  .CommentSubmit {
    bottom: 50px;
    left: 25%;
  }
}