.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.ProfileAddItem {
    width: 105px;
    height: 60px;
    background-color: black;
    border-radius: 10px;
    padding: 5px;
}

.ProfileAddItem:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.Danger {
    color: #944317;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}