.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.ProfileAddItem {
    width: 200px;
    height: 70px;
    background-color: black;
    border-radius: 10px;
    padding: 3px;
    font-size: 1rem;
    padding-top: 30px;
    padding-right: 20px;
    
}


.ProfileAddItem i {
    position: relative;
    bottom: 60%;
    left: 25%;
    font-size: 1.4rem;
}

.LikeButton{
    color: gray;
    margin-right: 15px;

}

.UnlikeButton{
    color: gray;
    margin-right: 15px;
}

.saveButton {
    color: goldenrod;
    margin-right: 15px;
}

.unsaveButton{
    color: gray
}

.unsaveButton:hover{
    color: goldenrod
}

.ShareButton{
    color: gray;
}

.ShareButton:hover {
    color: blue;
}

.ProfileAddItem:hover {
background-color: crimson;

}

.ItemSettings {
    margin: 0;
    padding: 0;
    width: 40px;
    color: #777777;
    position: relative;
    left: 22%;
    top: 4%;
    z-index: 1;
    
}

.ItemSettings:hover{
    color: black;
}

.SendButton{
    background-color: black;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
}

.SendButton:hover{ 
background-color: green;
}

.Submit{
 background-color: black;
 color: white;
 width: 100px;
 height: 30px;
 font-size: 14px;
 border-radius: 5px;
 position: relative;
 left: 30%;

}

.EditSubmit {
    background-color: black;
    color: white;
    width: 100px;
    height: 30px;
    font-size: 14px;
    border-radius: 5px;
    position: relative;
}

.Cancel {
    background-color: black;
    color: white;
    width: 100px;
    height: 30px;
    font-size: 14px;
    border-radius: 5px;
    position: relative;
    right: 30%;
    bottom: 30px;
}

.SettingsButton {
    color: #555555;
    margin: 0;
    width: 100%;
    height: 70px;

}

.Follow {
    position: relative;
    width: 100%;
    height: 39px;
    bottom: 0px;
    background-color: black;
}

.Follow:hover {
    background-color: white;
    color: black;
}

.RemoveComment {
    background-color: black;
    position: relative;
    bottom: 100%;
    left: 90%;
    top: 7px;
    padding-left: 15px;
    font-size: 14px;
    border-radius: 25px;
    width: 20px;
    height: 20px;
    margin-right: 50px;

    
}
